h1:after
  position: relative
  bottom: 14px
  content: 'v' + $version
  font-size: 12px

pre
  margin: 1.5em
  padding: 1.5em
  background: silver
  word-wrap: nowrap
  border-radius: 3px
  box-siding: border-box
