{
  "presets": [
    ["env", { "useBuiltIns": true }],
    "stage-3",
    "react"
  ],
  "plugins": [
    ["transform-runtime", { "polyfill": false, "regenerator": true, "helpers": true }]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-self"
      ]
    },
    "production": {
      "plugins": [
        "transform-node-env-inline",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-react-inline-elements"
      ]
    }
  }
}
