lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/*
!node_modules/app
!node_modules/env.coffee
.DS_Store

nvm/
.build-auth-env
config/development.json
public/assets/*.*

public/static.css
public/404.html
public/deploy.html
