// Micro-reset
body, select, input, button, textarea
  font: normal 14px Helvetica, Arial, sans-serif
  line-height: 1.4em

::selection
  background: #0af
  color: #fff
  text-shadow: none

a:link
  tap-highlight-color: rgba(0, 0, 0, 0)

a,
a:active,
a:visited
  color: #0af
  text-decoration: underline

input:focus
  outline: none

input[type="search"]
  -webkit-appearance: textfield
  box-sizing: content-box

ul,
ol
  margin: 0
  padding: 0
  list-style-type: none
