.p-error
  fluid-layout()
  padding: 30px 10px 60px

  h2
    color: $blue
    font-size: 36px
    line-height: 48px

  p
    font-size: 16px
    line-height: 24px

  @media $mobile
    min-width: 0
    padding: 0 5px
