doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Express Boilerplate
    meta(name="description", content="Express Boilerplate")
    meta(name="author", content="Max Degterev")

    meta(name="Generator", content="Microsoft FrontPage 2.3")

    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- meta(name="HandheldFriendly", content="True")
    //- meta(name="MobileOptimized", content="920")
    //- meta(name="format-detection", content="telephone=no")
    //- meta(http-equiv="cleartype", content="on")

    link(rel="stylesheet", href="/static.css?v=1")

  body
    .p-static
      block content
