// ErrorModal
.c-error_modal
  p
    margin-top: 0

.c-error_modal-image
  text-align: center

.c-error_modal-details
  margin-bottom: 15px

  pre
    padding: 10px 15px
    display: none
    overflow: scroll
    border-radius: $borderRadiusM
    background: $colorDark20

  .c-error_modal-reset
    display: none

.c-error_modal.is-expanded
  .c-error_modal-reset
    display: inline-block

  .c-error_modal-details
    .c-error_modal-expand
      display: none

    pre
      display: block

.c-error_modal-internal
  color: #f00

// GoneModal
.c-gone_modal-content
  margin-bottom: 10px
  display: block
